/**
 * @author sandyzikun
 * @since Oct 2021
 * Base16 Variables
 */
.highlight {
  color: #585875;
  background: #fdf7e3;
}
@media (prefers-color-scheme: dark) {
  .highlight {
    color: #a19e93;
    background: #000036;
  }
}
.highlight .code .comment,
.highlight .code .quote {
  color: #656583;
}
@media (prefers-color-scheme: dark) {
  .highlight .code .comment,
  .highlight .code .quote {
    color: #969183;
  }
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .attribute,
.highlight .code .tag,
.highlight .code .name,
.highlight .code .regexp,
.highlight .code .link,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #dc2f56;
}
.highlight .code .number,
.highlight .code .meta,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .literal,
.highlight .code .type,
.highlight .code .params {
  color: #cb6016;
}
.highlight .code .string,
.highlight .code .symbol,
.highlight .code .bullet {
  color: #0f9900;
}
.highlight .code .title,
.highlight .code .section {
  color: #3726d2;
}
.highlight .code .keyword,
.highlight .code .selector-tag {
  color: #6c6cc4;
}
.highlight .code .deletion,
.highlight .code .addition {
  color: #000036;
  display: inline-block;
  width: 100%;
}
.highlight .code .deletion {
  background-color: #dc2f56;
}
.highlight .code .addition {
  background-color: #0f9900;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
.base16colored-cyan {
  color: #2aa199;
}
.base16colored-yellow {
  color: #b58900;
}
.base16colored-orange {
  color: #cb6016;
}
.base16colored-red {
  color: #dc2f56;
}
.base16colored-magenta {
  color: #d336c2;
}
.base16colored-violet {
  color: #6c6cc4;
}
.base16colored-blue {
  color: #3726d2;
}
.base16colored-green {
  color: #0f9900;
}
.gist .gist-file,
.gist .gist-file .gist-data {
  border-color: #b1b0bc;
}
.gist .gist-file .gist-meta,
.gist .gist-file .gist-meta a {
  color: #656583;
  background-color: #fefcf6;
}
#valine-container {
  margin-bottom: 3.9em;
}
.v {
  padding: 39px;
  border: 1.28px solid #656583;
  border-radius: 12.8px;
}
@media (prefers-color-scheme: dark) {
  .v {
    background-color: #000;
  }
}
@media (prefers-color-scheme: light) {
  .v {
    background-color: #fff;
  }
}
.v .vcount,
.v h1,
.v h2,
.v h3,
.v th,
.v td,
.v li {
  color: #1abcb0;
}
