/*
   
   Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
   
*/
.highlight
  background: $base00
  color: $base04

  .code
    .comment, .quote
      color: $base02

    /* Altercation Green */
    .keyword, .selector-tag, .addition
      color: $base-green

    /* Altercation Cyan */
    .number, .string, .meta .meta-string, .literal, .doctag, .regexp
      color: $base-cyan

    /* Altercation Blue */
    .title, .section, .name, .selector-id, .selector-class
      color: $base-blue

    /* Altercation Yellow */
    .attribute, .attr, .variable, .template-variable, .class .title, .type
      color: $base-yellow

    /* Altercation Orange */
    .symbol, .bullet, .subst, .meta, .meta .keyword, .selector-attr, .selector-pseudo, .link
      color: $base-orange

    /* Altercation Red */
    .built_in, .deletion
      color: $base-red

    .formula
      background: $base01

    .emphasis
      font-style: italic

    .strong
      font-weight: bold
