// Argonavis
$base00 =   #002036;
$base01 =   #072a42;
$base02 =   #586975;
$base03 =   #657783;
$base04 =   #968c83;
$base05 =   #a19a93;
$base06 =   #eee1d5;
$base07 =   #fdefe3;
$base-yellow =   #b58e00;
$base-orange =   #cb9d16;
$base-red =   #dc5d2f;
$base-magenta =   #d33694;
$base-violet =   #6c72c4;
$base-blue =   #2683d2;
$base-cyan =   #2a8aa1;
$base-green =   #009954;
