// Atelier Forest
$base00 =  #1b1918; //
$base01 =  #2c2421; //
$base02 =  #68615e; //
$base03 =  #766e6b; //
$base04 =  #9c9491; //
$base05 =  #a8a19f; //
$base06 =  #e6e2e0; //
$base07 =  #f1efee; //
$base-yellow =   #c38418; //
$base-orange =   #df5320; //
$base-red =      #f22c40; //
$base-magenta=   #c33ff3; //
$base-violet =   #6666ea; //
$base-blue =     #407ee7; //
$base-cyan =     #00ad9c; //
$base-green =    #7b9726; //
