// Leoneedle
$base00 =   #000636;
$base01 =   #070e42;
$base02 =   #585b75;
$base03 =   #656883;
$base04 =   #969483;
$base05 =   #a19f93;
$base06 =   #eeebd5;
$base07 =   #fdfae3;
$base-yellow =   #b5a800;
$base-orange =   #cb8316;
$base-red =   #dc2f2f;
$base-magenta =   #b436d3;
$base-violet =   #6c75c4;
$base-blue =   #2693d2;
$base-cyan =   #2aa194;
$base-green =   #7d9900;
